
.pchb{
  font-size: large;
  font-family: sans-serif;
}


.pchb_greeting{
  font-size: large;
  font-family: sans-serif;
}


.abt{
  color:white;
  background-color:black;
  font-family: sans-serif;
}

.left-menu{
  font-size: large;
  font-family : sans-serif;
  text-align: left;
}

