.inst-display {
  font-size: x-large;
  font-family: sans-serif;

}

.orgname{
  font-size: xx-large;
  font-family: size-serif;
}

.help{
  background-color:black;
  color: white;
  border: white 1px double;
}
